<form>
  <section class="col-3 container mt-5">
    <section *ngIf="mostrar" class="alert alert-primary">
      Username: test <br>
      Password: test
    </section>
    <h2>Auth Login</h2>
    <section class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="usuario" [(ngModel)]="usu">
    </section>
    <section class="form-group">
      <label for="password">Password:</label>
      <input type="text" class="form-control" id="password" name="contraseña" [(ngModel)]="pass">
    </section>
    <input class="btn btn-primary mt-4" (click)="login()" value="Iniciar sesión">
  </section>
</form>